$header-font: 'Great Vibes', cursive;
$body-font: 'Josefin Sans', sans-serif;



/**** **** **** **** ****
Colors
**** **** **** **** ****/

$maroon: #6A1B35;
$teal: #AAE6D9;
$orange: #D85212;
$white: #fff;
$gray: #C0C0C0;
$dark-gray: #474747;
$master-header-color: #5B605F;