html {
  background: white;
  color: $white;
  font-size: 100%;
}
h1 {
  font-family: $header-font;
  font-size: 3em;
  color: $teal;
}

h2 {
  font-family: $sub-header-font;
  color: $teal;
  font-style: italic;
}

p {
  font-family: $body-font;
  color: $white;
  font-size: 1.1em;
  line-height: 25px;
}