html {
  background: white;
  color: $white;
  font-size: 100%;
}
h1 {
  font-family: $header-font;
  font-size: 5em;
  color: $dark-gray;
}

h2 {
  font-family: $body-font;
  color: $dark-gray;
  font-size: 1.688em;
}

p {
  font-family: $body-font;
  color: $dark-gray;
  font-size: .938em;
  line-height: 25px;
}