html {
  background: white;
  color: $white;
  font-size: 100%;
}
h1 {
  font-family: $header-font;
  font-size: 5em;
  color: $dark-gray;
  font-weight: 100;
}

.blogTitle {
  color: $master-header-color;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0em;
  text-align: center;
}

h2.col-7 {
  font-family: $body-font;
  color: $dark-gray;
  font-size: 1.688em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.037em;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2.3%;
}

p.col-9 {
  font-family: $body-font;
  color: lighten($dark-gray, 20%);
  font-size: .938em;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: .067em;
  margin: 0 auto;
  text-align: left;
}
