.btn {
  background: $teal;
  color: $white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: $body-font;
}